DATABASE_URL='postgressql://postgres:supersecret123@db:5432/minitwitter'
OLLAMA_BASE_URL='http://ollama-1:11434'
OLLAMA_MODEL='llama3.2:1b'
REDIS_HOST='redis'
SERVER_ROLE='api'
CACHE_ACTIVE='true'
RATE_LIMITER='true'
LOG_LEVEL='info'